# Directories
__pycache__
.pytest_cache
build
DataProcessor.egg-info
dev_env
dist
lib
test-sites
user/

# Configurations
.env

# Binaries
pkg/data-crawler/data-crawler
.env-source
data-manager
cert.pem
key.pem
