<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/dist/vis-network.min.css" integrity="sha512-WgxfT5LWjfszlPHXRmBWHkV2eceiWTOBvrKCNbdgDYTHrT2AeLCGbF4sZlZw3UMN3WtL0tGUoIAKsu8mllg/XA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/vis-network.min.js" integrity="sha512-LnvoEWDFrqGHlHmDD2101OrLcbsfkrzoSpvtSQtxK3RMnRV0eOkhhBN2dXHKRrUU8p2DGRTk35n4O8nWSVe1mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-gray-900 text-gray-300 font-sans">
    <header class="bg-gray-800 p-4 flex justify-between items-center">
        <h1 class="text-white text-lg font-semibold">Welcome to Data Manager</h1>
        <button class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
    </header>
    <main class="p-4 flex justify-center">
        <form id="crawler-form">
            <div class="flex flex-col items-center">
                <div class="flex items-center mb-4">
                    <form class="flex items-center">
                        <input type="text" id="crawlInput" name="StartingURL" placeholder="http://www.example.com" class="px-4 py-2 border rounded text-gray-900" />
                        <button hx-post="/crawl" hx-target="#crawlStatus" hx-include="#crawlOptions" hx-indicator="#spinner" class="bg-blue-500 text-white px-4 py-2 rounded ml-4">Crawl</button>
                        <button hx-post="/crawl-random" hx-target="#crawlStatus" hx-include="#crawlOptions" hx-indicator="#spinner" class="bg-blue-500 text-white px-4 py-2 rounded ml-4">Crawl Random</button>
                        <div id="spinner" class="ml-2 htmx-indicator" role="status">
                            <svg aria-hidden="true" class="w-8 h-8 animate-spin text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="grey" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </form>
               </div>
                <div class="grid grid-cols-3 gap-4">
                    <button hx-get="/network" hx-target="#networkContent" hx-indicator="#spinner" class="bg-blue-500 text-white w-full px-4 py-2 rounded">Load Network Data</button>
                    <a href="/export" class="bg-blue-500 text-white w-full px-4 py-2 rounded">Export Crawl Data</a>
                    <button hx-post="/kill-all-crawlers" hx-indicator="#spinner" hx-target="#crawlStatus" class="bg-blue-500 text-white w-full px-4 py-2 rounded">Stop All Crawling</button>
                </div>
                <div id="crawlStatus">
                    <div class="fixed top-16 right-4 m-6 w-64 bg-gray-800 text-white px-4 py-2 rounded shadow-lg opacity-0 transition-opacity duration-500 ease-in-out z-50 border-2 border-opacity-50 border-yellow-200">
                        <div class="flex justify-between items-center">
                            <div id="toast-content">
                                Toast Content
                            </div>
                            <button id="toast-dismiss" class="ml-4" hx-get="/dismiss-toast" hx-target="#crawlStatus">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-gray-200">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="space-y-4 mt-4">
                    <details class="w-full">
                        <summary class="cursor-pointer">Additional Crawl Options</summary>
                        <form id="crawlOptions" class="grid grid-cols-2 gap-4 p-4">
                            <label class="flex items-center">
                                Permitted Domains:
                                <input type="text" name="PermittedDomains" placeholder="domain1.com, ..." class="ml-2 bg-gray-800 text-white border-gray-600" />
                            </label>
                            <label class="flex items-center">
                                Blacklist Domains:
                                <input type="text" name="BlacklistDomains" placeholder="domain1.com, ..." class="ml-2 bg-gray-800 text-white border-gray-600" />
                            </label>
                            <label class="flex items-center">
                                Rotate User Agents:
                                <input type="checkbox" name="RotateUserAgents" checked class="ml-2" />
                            </label>
                            <label class="flex items-center">
                                Respect Robots:
                                <input type="checkbox" name="RespectRobots" checked class="ml-2" />
                            </label>
                            <label class="flex items-center">
                                Max URLs to Visit:
                                <input type="number" name="MaxURLsToVisit" value="5" class="ml-2 bg-gray-800 text-white border-gray-600" />
                            </label>
                            <label class="flex items-center">
                                Crawler Timeout:
                                <input type="number" name="CrawlerTimeout" value="3600" class="ml-2 bg-gray-800 text-white border-gray-600" />
                            </label>
                            <label class="flex items-center">
                                Crawler Request Timeout:
                                <input type="number" name="CrawlerRequestTimeout" value="60" class="ml-2 bg-gray-800 text-white border-gray-600" />
                            </label>
                            <label class="flex items-center">
                                Crawler Request Delay (ms):
                                <input type="number" name="CrawlerRequestDelayMs" value="1000" class="ml-2 bg-gray-800 text-white border-gray-600" />
                            </label>
                            <label class="flex items-center">
                                Collect HTML:
                                <input type="checkbox" name="CollectHTML" class="ml-2" />
                            </label>
                            <label class="flex items-center">
                                Collect Images:
                                <input type="checkbox" name="CollectImages" class="ml-2" />
                            </label>
                            <label class="flex items-center">
                                Free Crawl:
                                <input type="checkbox" name="FreeCrawl" checked class="ml-2" />
                            </label>
                        </form>
                    </details>
                </div>
            </div>
        </form>
    </main>
    <div id="activeCrawlers" hx-get="/active-crawlers" hx-trigger="every 3s" class="relative mt-4 px-4 max-w-4xl mx-auto">
        <h4 class="text-xl font-bold mb-4">Active Crawlers</h4>
        <table class="w-full text-sm text-left rtl:text-right text-gray-400">
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th class="py-4 px-2">URL</th>
                    <th class="py-4 px-2">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="crawlContent" class="relative mt-4 border border-blue-500 p-4 rounded px-4 max-w-4xl mx-auto"></div>
    <div id="networkContent" class="relative mt-4 border border-blue-500 p-4 rounded px-4 max-w-4xl mx-auto"></div>
</body>
</html>
